<!DOCTYPE html>
<html>
<head>
    <title>localcheck urls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
</head>
<body>
    <header class="w3-center">
        <h1>Check names</h1>
    </header>
    <main class="w3-content">
        <details open="open">
            <summary><h2>Request</h2></summary>
            <div id='editor_holder'></div>
            <button id='submit'>Submit</button>
        </details>
        <h2>Results</h2>
        <div id='results_holder'></div>


    </main>
    <script>
    let results_holder = document.getElementById('results_holder');
    async function init(data) {
        JSONEditor.defaults.iconlib = 'fontawesome4';
        JSONEditor.defaults.theme = 'bootstrap4';
        let lang_values = [];
        let lang_labels = [];
        for(let key in data){
            lang_values.push(data[key]["langCode"]);
            lang_labels.push(data[key]["langLabel"]);
        }
        let editor = new JSONEditor(document.getElementById('editor_holder'),{
            disable_properties: true,
            schema: {
                type: "object",
                title: "Check names",
                options:{
                    disable_collapse: true
                },
                properties: {
                    languages: {
                        title: "Author Languages",
                        type: "array",
                        format: "select",
                        uniqueItems: true,
                        items: {
                            type: "string",
                            enum: lang_values,
                            options: {
                                enum_titles: lang_labels
                            }
                        }
                    },
                    name: {
                        type: "array",
                        format: "table",
                        title: "Name",
                        options:{
                            disable_collapse: true,
                            disable_array_reorder: true
                        },
                        items: {
                            title: "Name",
                            type: "string",
                        }
                    }
                }
            }
        });
        document.getElementById('submit').addEventListener('click',function() {
            let userLang = navigator.language || navigator.userLanguage;
            let userLangShort = userLang.split("_")[0];
            let editor_val = editor.getValue();
            let body = new FormData();
            for(let key in editor_val["name"]){
                let name = editor_val["name"][key];
                body.append("name", name);
            }
            for(let key in editor_val["languages"]){
                let lang = editor_val["languages"][key];
                if (lang){
                    body.append("lang", lang);
                }
            }
            return fetch(
                url = "{{ url_for('request_stats_name') }}", {
                    method: "POST",
                    body: body
                }
            ).then(response => response.json()).then(data => {
                console.log(data)
                let ulEl = document.createElement("ul");
                results_holder.innerHTML = "";
                results_holder.appendChild(ulEl);
                for(let key in data){
                    let q_item = data[key];
                    let liEl = document.createElement("li");
                    liEl.dataset.q = q_item.id;
                    ulEl.appendChild(liEl);
                    let titelHolderEl = document.createElement("div");
                    liEl.appendChild(titelHolderEl);
                    let titelEl = document.createElement("h2");
                    titelHolderEl.appendChild(titelEl);
                    titelEl.innerText = q_item.labels[userLangShort];
                    if (q_item.hasOwnProperty("birthdate") && q_item.hasOwnProperty("deathdate")){
                        let titelEl2 = document.createElement("h3");
                        titelHolderEl.appendChild(titelEl2);
                        titelEl2.innerText = `(${(q_item.birthdate && q_item.birthdate.year + "-" + q_item.birthdate.month + "-" + q_item.birthdate.day) || "unknown"} - ${(q_item.deathdate  && q_item.deathdate.year + "-" + q_item.deathdate.month + "-" + q_item.deathdate.day) || "unknown"})`;
                    }
                    let contentHolderEl = document.createElement("div");
                    contentHolderEl.classList.add("w3-container");
                    liEl.appendChild(contentHolderEl);

                    let contentLeftEl = document.createElement("div");
                    contentLeftEl.classList.add("w3-cell");
                    contentHolderEl.appendChild(contentLeftEl);
                    for (let key in q_item.found){
                        let libs = q_item.found[key];
                        for(let lib_key in libs){
                            let missingLabelEl = document.createElement("label");
                            let missingLabelEl2 = document.createTextNode(`Add: ${key}: ${lib_key}`);
                            let missingEl = document.createElement("input");
                            missingLabelEl.appendChild(missingEl);
                            missingLabelEl.appendChild(missingLabelEl2);
                            missingEl.type = "checkbox";
                            if (q_item.missing.includes(key)){
                                missingEl.classList.add("w3-red");
                                missingEl.checked = true;
                            } else {
                                missingEl.classList.add("w3-green");
                                missingEl.checked = false;
                            }
                            if (!q_item.missing_but_exist.hasOwnProperty(key) || !q_item.missing_but_exist[key].includes(lib_key)){
                                missingEl.disabled = true;
                            }

                            missingEl.dataset.claim = key;
                            missingEl.dataset.target = libs[0];
                            contentLeftEl.appendChild(missingLabelEl);
                        }
                    }
                    let contentRightEl = document.createElement("pre");
                    contentRightEl.classList.add("w3-cell");
                    contentHolderEl.appendChild(contentRightEl);
                    contentRightEl.innerText = JSON.stringify(q_item, null, 2);
                }

            })
        });
    }

    async function add_claim(element) {
        let body = new FormData();
        body.append("q", element.dataset.q)
        for(let option in element.getElementsByClassName("missing_claim_option")){
            if(option.checked && !option.disabled){
                body.append("claims", option.dataset.claim);
                body.append("targets", option.dataset.target);
            }
        }
        fetch(
            url = "{{ url_for('request_stats_name') }}", {
                method: "POST",
                body: body
            }
        )
    }

    async function add_claims() {
        for(let element in document.getElementsByClassName("claim_instance")){
            await add_claim(element);
        }
    }

    fetch(
        url = "{{ url_for('static', filename='languages.json') }}"
    ).then(request => request.json()).then(init);
/**
    $.post ( self.api , {
        action : 'wbcreateclaim' ,
        entity : self.q_prefix+entity ,
        snaktype : 'value' ,
        property : self.p_prefix+property ,
        value : JSON.stringify ( value ) ,
        token : token ,
        baserevid : lastrevid ,
        format : 'json'
    } , function ( data ) {
        var id = 'added_' + self.id_cnt ;
        var h = "<div class='wb-claim-section-P"+property.replace(/\D/g,'')+"'>Added AC data : <div style='display:inline-block' class='valueview-value'>"+value+"</div></div>" ;
        $($('div.wb-claims').get(0)).append ( h ) ;
        self.updateResults() ;
        self.setNextClaim() ;
    } , 'json' ) ;*/
    </script>
</body>
</html>
